/* General Resets */
body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jacques Francois', serif;
    color: #315337;
}

body {
    background-color: #DDE9D2; /* Light blue background */
    color: #333;
    line-height: 1.6;
    padding-top: 130px; /* Adjust this value to match the height of your fixed header */
}

/* Login Form Container */
.lpcontainer {
    background: #9BA791;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.lpcontainer img {
    margin-bottom: 20px;
}

.logincontainer {
    background: #9BA791;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

h2 {
    color: #3f5b45;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.formGroup {
    width: 100%;
    max-width: 400px;
    text-align: left;
}

form label {
    font-weight: bold;
    color: #3f5b45;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3f5b45;
    color: #fde6a9;
    transition: background 0.3s;
    cursor: pointer;
}

form button:hover {
    background-color: #5a8d64;
}